/*
The MIT License

Copyright 2016 Oskar Gusgård, Aleksi Rasio, Joel Vainikka, Joona Vainikka.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/

body{
    background-color: #2B4C6F;
    font-family: Arial;
}

#wrapper{
    height: auto;
    width: 400px;
    margin: auto auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(4,29,55,1);
    -moz-box-shadow: 0px 0px 18px 5px rgba(4,29,55,1);
    box-shadow: 0px 0px 18px 5px rgba(4,29,55,1);
}

#container{
    /* placeholder */
}

ul {
    list-style: none;
}

/* Messages */
#messages{
    width: 100%;
    height: 400px;
    clear: both;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url("../gfx/chat_bg.png");
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
}

/* My message will always align to right side */
.my-message{
    min-height: 20px;
    width: 50%;
    clear: both;
    float: right;
    overflow: hidden;
    margin: 5px 5px 5px 0px; /* top, right, bottom, left */
    border: 1px solid #85FF5C;
    border-radius: 5px;
    background-color: #85FF5C;
    box-shadow: 1px 1px 1px #888888;
}

/* Others' messages will always align to left side */
.others-message{
    min-height: 20px;
    width: 50%;
    clear: both;
    float: left;
    overflow: hidden;
    margin: 5px 0px 5px 5px; /* top, right, bottom, left */
    border: 1px solid #ACD5E3;
    border-radius: 5px;
    background-color: #ACD5E3;
    box-shadow: 1px 1px 1px #888888;
}

.username{
    height: 14px;
    width: 190px;
    float: left;
    margin: 2px 0px 4px 0px; /* top, right, bottom, left */
    padding: 0;
    font-size: 14px;
    text-align: right;
}

.message-body{
    min-height: 20px;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: left;
}

.timestamp{
    height: 15px;
    width: 190px;
    float: left;
    margin-bottom: 5px;
    margin-top: 4px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}

/* Title bar */
#title{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #133253;
}

#currentGroup{
    height: 50%;
    width: 48%;
    font-size: 18px;
    padding-left: 2%;
    padding-top: 2%;
    text-align: left;
    float: left;
}

#loggedInAs{
    height: 100%;
    width: 48%;
    font-size: 14px;
    padding-right: 2%;
    text-align: right;
    float: left;
}

/* Navigation */
#navigation{
    width: 100%;
    color: #fff;
    background-color: #133253;
}

#navigation ul{
    height: 47px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4A6B8A;
}

#navigation li{
    float: left;
}

#navigation li button{
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #4A6B8A;
}

#navigation li button:hover{
    background-color: #738CA6;
}

.active{
    height: 55px;
    background-color: #478E77 !important;
    padding-top: 5px !important;
}

/* Form */
#send-message{
    height: 30px;
    width: 390px;
    padding: 5px;
    background-color: #041D37;
    clear: both;
    float: left;
}

form #message-field{
    height: 20px;
    width: 310px;
    margin: 0;
    padding: 5px;
    float: left;
    border-style: none;
}

form #send-button{
    height: 30px;
    width: 65px;
    margin: 0;
    margin: 0px 0px 0px 5px; /* top, right, bottom, left */
    padding: 0;
    float: left;
    border-style: none;
}

/* Listing contacts and groups */
#contactsList{
    width: 100%;
    height: 430px;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2% 0% 0% 0%; /* top, right, bottom, left */
    background-color: #fff;
    background-image: url("../gfx/contacts_bg.png");
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.1);
}

#contactsList li{
    width: 100%;
    margin-bottom: 5px;
}

#contactsList li button{
    width: 97%;
    height: 60px;
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    border: none;
    background-color: #4B6A8B;
    margin-left: 1%;
    border-radius: 5px;
}

#contactsList li button:hover{
    background-color: #143354;
}

.private-chat-button p{
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

/* Login */
#loginWrapper{
    height: 100%;
    width: 280px;
    background-color: white;
    float: left;
    border-radius: 10px;
    padding-bottom: 10px;
}

#loginWrapper input{
    float: right;
    margin-right: 10px;
}

#loginWrapper p{
    padding-left: 10px;
}

#loginWrapper h4{
    padding-left: 10px;
}

/* Register */
#createUserWrapper{
    height: 100%;
    width: 300px;
    background-color: white;
    float: left;
    border-radius: 10px;
    padding-bottom: 10px;
}

#createUserWrapper input{
    float: right;
    margin-right: 10px;
}

#createUserWrapper select{
    float: right;
    margin-right: 10px;
}

#createUserWrapper p{
    padding-left: 10px;
}

#createUserWrapper h4{
    padding-left: 10px;
}

#login-error {
    color: #D8000C;
    font-style: italic;
    font-size: small;
}
